* {
    margin: 0;
    padding: 0;
}

body {
    background: #020A18;
    font-family: Open Sans;
}

a {
    text-decoration: none;
}

.container {
    padding-left: calc(50% - 173px);
    padding-right: calc(50% - 173px);
}

.transition {
    transition: 0.5s;
}

.menu-link {
    color: rgb(255, 255, 255);
    ;
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    text-align: left;
}

.menu-link:hover {
    text-shadow: 2px 2px 5px red;
    color: #3a68b8;
}

.meni-padding {
    padding: 22px 8px;
}

.header {
    display: flex;
    justify-content: center;
    padding-bottom: 64px;
}

.cover-left__subtitle {
    color: rgb(58, 104, 184);
    font-size: 14px;
    font-weight: 600;
    line-height: 160%;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 16px;
}

.cover-left__title {
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: 800;
    line-height: 130%;
    text-align: center;
    padding-bottom: 64px;
}

.cover-left__dsc {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    line-height: 160%;
    letter-spacing: 0%;
    text-align: center;
    padding-bottom: 39px;
    opacity: 0.7;
}

.cover-left__btn {
    border-radius: 5px;
    background: rgb(58, 104, 184);
    color: rgb(255, 255, 255);
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: left;
    padding: 1rem 2rem;
    margin-bottom: 24px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.cover-left__btn:hover {
    transition: 0.5s;
    background: rgb(19, 32, 53);
}

.btn-flex {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cover-left {
    margin-bottom: 128px;
}

.cover-right__img {
    width: 343px;
    height: 344px;
}

.cover-right {
    margin-bottom: 128px;
}

.logo-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
}

.logo {
    margin-bottom: 204px;
}

.main-top__img {
    width: 342px;
    height: 316px;
}

.subtitle {
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;
}

.dsc {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    line-height: 160%;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
}

.main-top__dsc-margin {
    margin-top: 16px;
    margin-bottom: 16px;
}

.main-top {
    margin-bottom: 96px;
}

.elem {
    border-radius: 10px;
    background: rgb(19, 32, 53);
    text-align: center;
    padding: 30px;
}

.elem4 {
    grid-column: span 2;
    grid-row: span 2;
}

.dcs-alingn {
    text-align: center;
}

.main-content__subtitle {
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: 700;
    line-height: 125%;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
}

.main-content__subtitle-margin {
    margin-top: 30px;
    margin-bottom: 30px
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 98px;
}

.main-bottom__dsc-margin {
    margin-bottom: 16px;
}

.main-bottom__subtitle-margin {
    margin-bottom: 16px;
}

.main-bottom__img {
    width: 342px;
    height: 294px;
}

@media (min-width: 1024px) {
    .container {
        /* margin: 0 auto;
        width: 1146px; */
        padding-left: calc(50% - 573px);
        padding-right: calc(50% - 573px);
    }
    .flex {
        display: flex;
        justify-content: space-between;
    }
    .transition {
        transition: 0.5s;
    }
    .flex {
        display: flex;
        justify-content: space-between;
    }
    .header {
        margin-top: 40px;
    }
    .meni-padding {
        padding: 40px 16px;
    }
    .header {
        margin-bottom: 200px;
    }
    .cover-left__subtitle {
        font-size: 18px;
        text-align: left;
        text-transform: uppercase;
        padding-bottom: 10px;
    }
    .cover-left__title {
        font-size: 55px;
        text-align: left;
        padding-bottom: 40px;
    }
    .cover-left__dsc {
        font-size: 18px;
        text-align: left;
        width: 558px;
        height: 87px;
    }
    .cover-right__img {
        width: 414px;
        height: 415px;
    }
    .btn-flex {
        display: flex;
        flex-direction: row;
    }
    .cover-left {
        width: 604px;
    }
    .subtitle {
        font-size: 40px;
        text-align: left;
    }
    .dsc {
        font-size: 16px;
        text-align: left;
        opacity: 0.7;
    }
    .main-top {
        margin-bottom: 264px;
    }
    .main-content {
        display: grid;
        grid-template-columns: repeat(3, auto);
        gap: 30px;
        margin-bottom: 257px;
    }
    .main-top__img {
        width: 594px;
        height: 548px;
    }
    .main-top__right {
        margin-left: 68px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .elem {
        border-radius: 10px;
        background: rgb(19, 32, 53);
        text-align: center;
        padding: 30px;
    }
    .elem4 {
        grid-column: span 2;
        grid-row: span 2;
    }
    .dcs-alingn {
        text-align: center;
    }
    .main-content__subtitle {
        color: rgb(255, 255, 255);
        font-size: 25px;
        font-weight: 700;
        line-height: 125%;
        letter-spacing: 0%;
        text-align: center;
        opacity: 0.7;
    }
    .main-content__subtitle-margin {
        margin-top: 30px;
        margin-bottom: 30px
    }
    .main-content__subtitle-margin__elem4 {
        margin-top: 60px;
        margin-bottom: 60px;
    }
    .dsc__wight {
        height: 104px;
        width: 302px;
    }
    .main-bottom__dsc-margin {
        margin-bottom: 20px;
    }
    .main-bottom__subtitle-margin {
        margin-bottom: 40px;
    }
    .main-bottom__dsc-width {
        width: 460px;
    }
    .main-bottom {
        margin-bottom: 221px;
    }
}