* {
    margin: 0;
    padding: 0;
}

.header {
    padding-top: 39px;
    padding-bottom: 39px;
}

.top {
    margin-top: 160px;
    margin-bottom: 197px;
}

.top-left__subtitle {
    margin-bottom: 10px;
}

.top-left__title {
    margin-bottom: 40px;
}

.top-left__text {
    margin-bottom: 50px;
}

.logo-group {
    margin-bottom: 99px;
}