        * {
            margin: 0;
            padding: 0;
        }
        
        body {
            background: #020A18;
            font-family: Open Sans;
        }
        
        a {
            text-decoration: none;
        }
        
        .menu-link {
            color: rgb(255, 255, 255);
            font-family: Open Sans;
            font-size: 16px;
            font-weight: 600;
            line-height: 22px;
            letter-spacing: 0%;
            text-align: left;
            padding: 40px 16px;
        }
        
        .nav {
            display: flex;
            justify-content: center;
        }
        
        .container {
            margin: 0 auto;
            width: 1146px;
        }
        
        .menu-link:hover {
            color: #3a68b8;
        }
        
        .header {
            margin-bottom: 160px;
        }
        
        .subtitle {
            color: #3a68b8;
            font-family: open Sans;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: 160%;
            text-transform: uppercase;
            margin-bottom: 10px;
        }
        
        .title {
            color: #fff;
            font-family: open Sans;
            font-size: 55px;
            font-style: normal;
            font-weight: 800;
            line-height: 130%;
            margin-bottom: 40px;
        }
        
        .dsc {
            color: #fff;
            font-family: open Sans;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: 160%;
            opacity: 0.7;
            margin-bottom: 40px;
        }
        
        .main-link {
            border-radius: 5px;
            background-color: #3a68b8;
            padding: 1rem 2rem;
            color: #fff;
            font-family: open Sans;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            text-decoration: none;
            margin-bottom: 50px;
            margin-right: 20px;
        }
        
        .flex {
            display: flex;
            justify-content: space-between;
        }
        
        .main-left,
        .main-right {
            width: 47%;
        }
        
        .main {
            margin-bottom: 200px;
        }